	aid: {{model.aid}}<br>
	<ng-form ng-show="activeActNum!=-1" name="detail" novalidate>
	<table id="detail-table" class="table">
  <tr>
		<th colspan="2"> <input class="text" type="text" ng-model="model.name" placeholder="title"></th>
  </tr>
      <tr>
		<td colspan="2"> <textarea class="text" placeholder="note" rows="10" id="note-edit" ng-model="model.note"></textarea></td>
  </tr>
  <tr><td colspan="2">
  <schedule-picker ng-model='model' is-open="model.loaded" default-date="defaultDate" description="model.scheduleDescription"></schedule-picker>
  </td>
  </tr>
		


</table>
<!-- 		<button ng-click="alert(model.note)">submit</button> -->
	</ng-form>