
<div class="col-xs-4 full-height-flow">
	<div class="list-header">
		<ol class="breadcrumb">
			<li><a ui-sref="activity({aid:0})"
			droppable-activity="0"> Root </a></li>
			<li ng-repeat="item in actPath track by $index">
			<a ui-sref="activity({aid:actPath[$index].aid})"
			droppable-activity="actPath[$index].aid">
					{{actPath[$index].name}} </a>
					</li>
		</ol>
		<a href="javascript:void(0)" ng-click="setActivity(-1)"><span
			class="glyphicon glyphicon-plus" aria-hidden="true"></span> new</a>
	</div>
	<ul class="nav nav-stacked">

		<li ng-repeat="item in actList track by $index"><a draggable="true"
		draggable-activity="actList[$index].aid"
		droppable-activity="actList[$index].aid"
			href="javascript:void(0)" ng-click="setActivity($index)">{{item.name}}
				<span ui-sref="activity({aid:actList[$index].aid})"
				class="glyphicon glyphicon-menu-right show-when-hover"></span>
		</a></li>
	</ul>

</div>
<div class="col-xs-5 full-height-flow">
	aid: {{activity.aid}}
	<form novalidate>
		Name:<br> <input type="text" ng-model="activity.name"><br>
		Location:<br> <input type="text"
			ng-model="activity.location"><br> Time:<br>
			from <quick-datepicker ng-model='activity.startTime'></quick-datepicker> to 
			<quick-datepicker ng-model='activity.endTime'></quick-datepicker><br>
			Note:<br>
		<textarea rows="10" style="width:400px" ng-model="activity.note"></textarea>
		
		<br>
		<button ng-click="sumbit()">submit</button>
	</form>
</div>
