<list-header></list-header>
		<!-- <a href="javascript:void(0)" ng-click="setActivity(-1)" droppable-activity="1"><span
			class="glyphicon" ng-class="{'glyphicon-plus':!isDragging,'glyphicon-trash':isDragging}" aria-hidden="true"></span>{{isDragging?'Drop':'New'}}</a> -->

	<accordion close-others="true">
    <accordion-group is-open="item.open" ng-repeat="item in actList.activities track by $index">
      <accordion-heading>
<list-title></list-title>
      </accordion-heading>
      <activity-accordion model="item" build-list="actList.buildList()" push-new="actList.pushNew()">
      <activity-detail model="item"></activity-detail>
      </activity-accordion>
    </accordion-group>
  </accordion>
