	<div class="list-header">
		<ol class="breadcrumb">
			<li><a ui-sref="activity({aid:0})"
			droppable-activity="0"> Root </a></li>
			<li ng-repeat="item in actPath track by $index" 
			droppable-activity="actPath[$index].aid">
			<a ui-sref="activity({aid:actPath[$index].aid})">
					{{actPath[$index].name}} </a>
					</li>
		</ol>
		<a href="javascript:void(0)" ng-click="setActivity(-1)" droppable-activity="1"><span
			class="glyphicon" ng-class="{'glyphicon-plus':!isDragging,'glyphicon-trash':isDragging}" aria-hidden="true"></span>{{isDragging?'Drop':'New'}}</a>
	</div>
	<ul class="nav nav-stacked">

		<li ng-repeat="item in actList track by $index" draggable="true"
		draggable-activity="actList[$index].aid"
		droppable-activity="actList[$index].aid" ng-class="{active:$index==actNum}"><a 
			href="javascript:void(0)" ng-click="setActivity($index)">{{item.name}}
				<span ng-click="moveToTrash(actList[$index].aid)"
				class="glyphicon glyphicon-trash show-when-hover"></span>
				<span ui-sref="activity({aid:actList[$index].aid})"
				class="glyphicon glyphicon-menu-right show-when-hover"></span>
		</a></li>
	</ul>
