
<div class="type-check">
<input type="radio" ng-model="model.type" value=0>
ASAP
<input type="radio" ng-model="model.type" value=1>
Range
<input type="radio" ng-model="model.type" value=2>
Deadline
</div>
{{model.startTime?model.startTime:"undefine"}}<br>
{{model.endTime?model.endTime:"undefine"}}
<div ng-switch="model.type">
	<div ng-switch-when=0>

		<button class="btn btn-success" ng-show="model.endTime==null" ng-click="finish()">Finish</button>
		<div ng-show="model.endTime!=null">
			<timepicker minute-step="30" ng-model='model.endTime'><timepicker>
			<my-date-picker style="width:100px" model="model.endTime"></my-date-picker>
		</div>
	</div>
	<div ng-switch-when=1>
		<table class="schedule">
		<tr>
		<th>From</th>
		<th>To</th>
		</tr>
			<tr>
				<td><timepicker minute-step="30" ng-model='model.startTime'><timepicker></td>
				<td><timepicker minute-step="30" ng-model='model.endTime'><timepicker></td>
			</tr>
			<tr>
				<td><my-date-picker model="model.startTime"></my-date-picker></td>
				<td><my-date-picker ng-show="!sameDate" model="model.endTime"></my-date-picker>
					<button class="btn btn-primary" ng-click="disableSameDate()" ng-show="sameDate">Unlock
						Date</button></td>
			</tr>
		</table>


	</div>
	<div ng-switch-when=2>
		<table class="schedule">
		<tr>
		<th>Deadline</th>
		<th>Finish</th>
		</tr>
			<tr>
				<td><timepicker minute-step="30" ng-model='model.endTime'><timepicker></td>
				<td style="vertical-align:middle"><button class="btn btn-success" ng-show="model.startTime==null" ng-click="finish()">Finish</button>
				<timepicker minute-step="30" ng-show="model.startTime!=null" ng-model='model.startTime'><timepicker></td>
			</tr>
			<tr>
				<td><my-date-picker model="model.endTime"></my-date-picker></td>
				<td><my-date-picker ng-show="model.startTime!=null" model="model.startTime"></my-date-picker></td>
			</tr>
		</table>

	</div>
	</div>