
<div class="type-check">
<input type="radio" ng-model="model.type" value=0>
ASAP
<input type="radio" ng-model="model.type" value=1>
Range
<input type="radio" ng-model="model.type" value=2>
Deadline
</div>
<div ng-switch="model.type">
	<div ng-switch-when=0>
	<table class="schedule">
		<tr>
		<th>Schedule</th>
		<th>Finish</th>
		</tr>
			<tr>
				<td><button class="btn btn-success" ng-if="model.startTime==null" ng-click="schedule()">Schedule</button>
				<timepicker ng-if="model.startTime!=null" minute-step="30" ng-model='model.startTime'><timepicker></td>
				<td>
				<button class="btn btn-success" ng-show="model.endTime==null" ng-click="finish()">Finish</button>
				<timepicker ng-show="model.endTime!=null" minute-step="30" ng-model='model.endTime'><timepicker>
				</td>
			</tr>
			<tr>
				<td><my-date-picker ng-if="model.startTime!=null" model="model.startTime"></my-date-picker></td>
				<td><my-date-picker ng-if="model.endTime!=null" model="model.endTime"></my-date-picker></td>
			</tr>
		</table>

	</div>
	<div ng-switch-when=1>
		<table class="schedule">
		<tr>
		<th>From</th>
		<th>To</th>
		</tr>
			<tr>
				<td><timepicker minute-step="30" ng-model='model.startTime'><timepicker></td>
				<td><timepicker minute-step="30" ng-model='model.endTime'><timepicker></td>
			</tr>
			<tr>
				<td><my-date-picker model="model.startTime"></my-date-picker></td>
				<td><my-date-picker ng-show="!sameDate" model="model.endTime"></my-date-picker>
					<button class="btn btn-primary" ng-click="disableSameDate()" ng-show="sameDate">Unlock
						Date</button></td>
			</tr>
		</table>


	</div>
	<div ng-switch-when=2>
		<table class="schedule">
		<tr>
		<th>Deadline</th>
		<th>Finish</th>
		</tr>
			<tr>
				<td><timepicker minute-step="30" ng-model='model.endTime'><timepicker></td>
				<td style="vertical-align:middle"><button class="btn btn-success" ng-show="model.finishTime==null" ng-click="finish()">Finish</button>
				<timepicker minute-step="30" ng-show="model.finishTime!=null" ng-model='model.finishTime'><timepicker></td>
			</tr>
			<tr>
				<td><my-date-picker model="model.endTime"></my-date-picker></td>
				<td><my-date-picker ng-show="model.finishTime!=null" model="model.finishTime"></my-date-picker></td>
			</tr>
		</table>

	</div>
	</div>