html{
	height:100%;
		overflow:hidden;
}
body{
	padding-top:50px;
	height:100%;
		overflow:hidden;
}

.side-nav{
	padding-left:0px;
	padding-right:0px;
}

div.full-height{
	height:100%;
}
div.full-height-flow{
	height:100%;
	overflow:auto;
}
textarea{
	resize:none;
}
:not(:hover)>.show-when-hover{
	display:none;
}
div.list-header>ol{
	display:inline-block;
}
div.list-header>a{
	float:right;
	padding-top:8px;
	padding-bottom:8px;
}