textarea#note-edit{
	width:100%;
	resize:none;
}
:not(:hover)>.show-when-hover{
	display:none;
}
div.list-header>ol{
	display:inline-block;
}
div.list-header>a{
	float:right;
	padding-top:8px;
	padding-bottom:8px;
}

li>a>.glyphicon{
	float:right;
	padding-left:10px;
	padding-right:10px;
}
.list-title>.glyphicon{
	float:right;
	padding-left:10px;
	padding-right:10px;
	z-index=10;
}
ul>li.active>a{
	background-color: #eee;
}
.list-header{
	padding-right:15px;
}
table.schedule>tbody>tr>td{
	padding-right:30px;
}
div.type-check{
	margin-bottom:20px;
}
input.text,textarea.text,input.text:focus,textarea.text:focus{
	border:0px;
	background-color:transparent;
	outline:0px;
};
#detail-table td{
	vertical-align:middle;
}
.list-title .description{
	padding-left:15px;
	padding-top: 10px;
	font-size:90%;
	font-weight:normal;
}