
div.bottom-tab{
}
div.bottom-tab>.tab-content {
	width:100%;
	padding-left:10px;
}
div.bottom-tab>.nav-tabs {
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:1;
	background-color:rgba(255,255,255,255);
}
div.bottom-tab>.nav-tabs>li {
	text-align:center;
	width:50%;
}
div.bottom-tab>.tab-content>.tab-pane {
}